<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasib.carebear">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".support.CareBear"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".patient.DoctorSearch"></activity>
        <activity android:name=".patient.PatientMapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Map_API_Key" />

        <activity
            android:name=".doctor.fragment.DoctorProfileActivity"
            android:parentActivityName=".doctor.DoctorDashBoardActivity" />
        <activity android:name=".doctor.DoctorDashBoardActivity" />
        <activity android:name=".patient.authentication.SignUpActivityForPatient" />
        <activity android:name=".patient.authentication.SignInActivityForPatient" />
        <activity
            android:name=".doctor.authentication.SignUpActivityForDoctor"
            android:parentActivityName=".doctor.authentication.SignInActivityForDoctor" />
        <activity android:name=".doctor.authentication.SignInActivityForDoctor" />
        <activity android:name=".MainActivity" />
        <activity android:name=".support.FeedBackActivity" />
        <activity android:name=".doctor.fragment.DoctorProfileEditActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>